.text-image-container .text-image-wrapper {
  max-width: unset;
  padding: 0;
  color: #2e2d2c;
}

.text-image {
  position: relative;
  padding: 60px 0px;
  min-height: fit-content;
}

.text-image h1 {
  margin-left: 75px;
  color: #fff;
}

.text-image p {
  margin-left: 75px;
  color: #fff;
}

.text-image picture {
  border-bottom-left-radius: 80px;
  border-top-right-radius: 80px;
}
/* 
@media (width >= 900px) {
  .text-image {
    padding: 40px 32px;
  }
} */